@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-gold-50: #fbf7f0;
  --color-gold-100: #f5edd9;
  --color-gold-200: #e6d3a8;
  --color-gold-300: #d4b675;
  --color-gold-400: #c29947;
  --color-gold-500: #af7c24;
  --color-gold-600: #8c601a;
  --color-gold-700: #694513;
  --color-gold-800: #462d0c;
  --color-gold-900: #251705;
}

body {
  font-family: var(--font-sans);
  background-color: #0a0a0a;
}

